@import '../variables/icons';

@mixin iconFont($name, $selector: before) {
  &::#{$selector} {
    content: map-get($icons, $name);
    font-family: 'iconfont';
    display: inline-block;
    @content;
  }
}
