mixin translations
  script.
    window.__TRANSLATIONS__ = {
      locale: 'en',
      messages: {
        en: {
          'filters': {
            price: 'Price',
            priceFrom: 'From',
            priceTo: 'To',
            variations: 'Variations',
            submit: 'Filter'
          },
          'burger-menu-tree': {
            overview: 'Overview'
          },
          'basket-page': {
            empty: 'Your basket is empty',
            title: 'Your basket ({amount})'
          },
          'basket-products-list': {
            product: 'Product',
            variation: 'Variation',
            amount: 'Amount',
            price: 'Price'
          },
          'basket-product': {
            variation: 'Variation',
            amount: 'Amount',
            remove: 'Remove'
          },
          'basket-summary': {
            summary: 'Summary',
            delivery: 'Delivery',
            total: 'Total'
          },
          'buy-box': {
            title: 'Pick your size',
            addToCart: 'Add to cart'
          },
          'buy-box-modal': {
            title: 'Product was added to basket',
            variation: 'Variation',
            close: 'Close',
            basket: 'Go to basket'
          },
          'buy-box-modal-error': {
            title: 'An error occured',
            close: 'Close'
          },
          'main-header': {
            about: 'About',
            search: 'Search'
          },
          'pagination': {
            previous: 'Previous',
            next: 'Next'
          },
          'products-list-item': {
            outOfStock: 'Out of stock'
          },
          'not-found-page': {
            title: 'This page does not exist'
          },
          'products-list-page': {
            title: 'You are on page {page} out of {total}',
            oldest: 'Oldest',
            newest: 'Newest',
            priceAsc: 'Price ascending',
            priceDesc: 'Price descending'
          }
        }
      }
    };