mixin translations
  script.
    window.__TRANSLATIONS__ = {
      locale: 'en',
      fallbackLocale: 'en',
      messages: {
        en: {
          'validations': {
            required: {
              unnamed: 'This field is required',
              named: '{_field_} is required'
            },
            password: 'Password does not match',
            email: 'Invalid email address',
            min: 'This field must have at least {length} characters'
          },
          'filters': {
            price: 'Price',
            priceFrom: 'From',
            priceTo: 'To',
            variations: 'Variations',
            submit: 'Filter'
          },
          'burger-menu': {
            title: 'Menu',
            closeButton: 'Close'
          },
          'burger-menu-tree': {
            overview: 'Overview'
          },
          'basket-page': {
            empty: 'Your basket is empty',
            title: 'Your basket ({amount})'
          },
          'basket-products-list': {
            product: 'Product',
            variation: 'Variation',
            amount: 'Amount',
            price: 'Price'
          },
          'basket-product': {
            variation: 'Variation',
            amount: 'Amount',
            remove: 'Remove'
          },
          'basket-summary': {
            summary: 'Summary',
            delivery: 'Delivery',
            total: 'Total'
          },
          'buy-box': {
            title: 'Pick your size',
            addToCart: 'Add to cart'
          },
          'buy-box-modal': {
            title: 'Product was added to basket',
            variation: 'Variation',
            close: 'Close',
            basket: 'Go to basket'
          },
          'buy-box-modal-error': {
            title: 'An error occured',
            close: 'Close'
          },
          'main-header': {
            about: 'About',
            search: 'Search'
          },
          'main-header-actions': {
            search: 'Search',
            basket: 'Basket',
            account: 'My Account',
            signIn: 'Sign in'
          },
          'main-header-search': {
            placeholder: 'Search for products'
          },
          'pagination': {
            previous: 'Previous',
            next: 'Next'
          },
          'products-list-item': {
            outOfStock: 'Out of stock'
          },
          'not-found-page': {
            title: 'This page does not exist'
          },
          'products-list-page': {
            title: 'Page {page} out of {total}',
            sorting: 'Sorting',
            oldest: 'Oldest',
            newest: 'Newest',
            priceAsc: 'Price ascending',
            priceDesc: 'Price descending'
          },
          'login-page': {
            loginHeadline: 'I already have an account',
            registerHeadline: 'I don\'t have account',
            registerSubline: 'Enjoy the advantages of your personal customer account and shop quickly and easily in the future.',
            registerExpand: 'Create an account'
          },
          'login-form': {
            submitButton: 'Sign in',
            emailLabel: 'E-Mail',
            passwordLabel: 'Password'
          },
          'register-form': {
            submitButton: 'Register',
            privacyPolicy: 'I agree to the privacy policy',
            firstName: 'First name',
            lastName: 'Last name',
            email: 'E-Mail',
            password: 'Password',
            passwordConfirm: 'Confirm password',
            passwordConfirmName: 'Password confirmation'
          }
        }
      }
    };