
$colorPalette: (
  'white': #fff,
  'black': #000,
  'boulder': #757575,
  'alabaster': #fafafa,
  'silverChalice': #b2b2b2,
  'squash': #cb5c0d,
  'dustGray': #959595
);

@function getColorPalette($name) {
  @return map-get($colorPalette, $name);
}

$colorTheme: (
  navbarPrimary: getColorPalette('black'),
  navbarAccent: getColorPalette('squash'),
  navbarShadow: getColorPalette('boulder'),
  navbarBackground: getColorPalette('white'),
  navbarFlyoutBackground: getColorPalette('alabaster'),
  breadcrumbColor: getColorPalette('dustGray'),
  breadcrumbColorHover: getColorPalette('black'),
  productBoxShadow: getColorPalette('dustGray'),
  productBoxLink: getColorPalette('black'),
  burgerMenuBorder: getColorPalette('silverChalice')
);

@function getColor($name) {
  $color: map-get($colorTheme, $name);

  @if $color {
    @return $color;
  } @else {
    @return getColorPalette('black');
  }
}