$fontFamily: 'Roboto', sans-serif;

$fontSizeXSmall: 1rem;
$fontSizeSmall: 1.2rem;
$fontSizeRegular: 1.4rem;
$fontSizeMedium: 1.6rem;
$fontSizeXMedium: 2rem;
$fontSizeLarge: 2.5rem;

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;