$fontsPath: 'assets/fonts';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$fontsPath}/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('#{$fontsPath}/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('#{$fontsPath}/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'iconfont';
  font-style: normal;
  font-weight: 400;
  src: url('#{$fontsPath}/iconfont/iconfont.ttf'),
    url('#{$fontsPath}/iconfont/iconfont.eot'),
    url('#{$fontsPath}/iconfont/iconfont.woff'),
    url('#{$fontsPath}/iconfont/iconfont.woff2');
}
