@import 'fontsFaces';
@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: percentage(10px / 16px);
}

body {
  font-family: $fontFamily;
  font-size: $fontSizeRegular;
  min-height: 150vh;
}
