$icons: (
	icon-arrow-left: "\EA01",
	icon-arrow-right: "\EA02",
	icon-basket: "\EA03",
	icon-camera: "\EA04",
	icon-close: "\EA05",
	icon-eye-hide: "\EA06",
	icon-eye-visible: "\EA07",
	icon-garbage: "\EA08",
	icon-menu: "\EA09",
	icon-search: "\EA0A",
	icon-tick: "\EA0B",
	icon-user: "\EA0C"
)